---
import PorfolioGallery from "./PorfolioGallery.astro";
import "swiper/css";
import "swiper/css/navigation";
import 'swiper/css/effect-coverflow';
const { id, images } = Astro.props;

---

<div class=`mySwiper${id} swiper w-full h-full rounded-md relative`>
    <div class=`swiper-wrapper`>
        { images.map((image:any) => (
            <div data-modal-target=`porfolio-gallery-${id}` data-modal-toggle=`porfolio-gallery-${id}` class="swiper-slide rounded-md  cursor-default">
                <img id=`${id}-${image.id}` class=`img-project-${id}` src=`${image.src}` alt=`${image.alt}` data-src=`${image.dataSrc}` />
            </div>
        ))}
    </div>
</div>

<!-- <PorfolioGallery id={id} gallery={images}  /> -->


      
