---
import Python from "../icons/Python.astro";
import ArrowDown from "../icons/ArrowDown.astro";
const { id, company, features } = Astro.props;
---

<div
  id=`experience-modal-${id}`
  tabindex="-1"
  aria-hidden="true"
  class="hidden fixed top-0 right-0 left-0 md:inset-0 flex justify-center items-center w-full z-50 bg-black bg-opacity-50 h-screen transition-opacity duration-500"
>
  <div class="relative p-4 w-full max-w-4xl h-4/5 z-30 transform transition-all duration-300 scale-95 opacity-0">
    <!-- Modal content -->
    <div
      class="flex flex-col relative bg-white rounded-lg shadow-sm h-full dark:bg-slate-800 bg-opacity-80 dark:bg-opacity-40 backdrop-blur-lg"
    >
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 md:px-10 border-b rounded-t dark:border-gray-600 border-gray-200"
      >
        <div>
          <h3 class="text-xl text-mark-light dark:text-mark-dark">Logros en</h3>
          <span
            class="text-2xl font-semibold text-[#050505] dark:text-slate-300"
            >{company}</span
          >
        </div>
        <button
          close-modal
          id=`close-experience-${id}`
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          close-experience-modal
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div id=`modal-experience-body-${id}` class="flex flex-col gap-5 flex-1 p-4 md:p-5 overflow-y-scroll">
        {
          features?.map((feature: any) => (
            <div class="w-full md:px-6">
              <div class="flex items-center gap-4">
                <div class="size-10 md:size-12 rounded-full bg-mark-light dark:bg-slate-500 p-2 mb-4">
                <feature.icon class="size-6 md:size-8 fill-slate-100" />
                </div>
                <h3 class="font-semibold text-xl text-[#050505] dark:text-slate-300 mb-4">
                  {feature.name}
                </h3>
              </div>

              <p class="text-sm md:text-base mb-6 text-slate-800 dark:text-slate-300 text-pretty">
                {feature.description}
              </p>
            </div>
          ))
        }
      </div>
    </div>

    <div class="absolute -bottom-9 left-1/2 -translate-x-1/2 animate-bounce">
      <div class="flex flex-col items-center justify-center">
        <ArrowDown id=`scroll-experience-indicator-${id}` class="size-10 fill-slate-300"/>
      </div>
    </div>
  </div>
</div>